---
import { Image } from "astro:assets";

interface Props {
  linkText: string;
}
const { linkText } = Astro.props;

const accounts = [
  {
    image: "SGDaily.png",
    name: "SGDaily",
    description: "Daily updates on Singapore life",
    link: "https://www.tiktok.com/@thesgdaily",
  },
  {
    image: "SGHomez.png",
    name: "SGHomez",
    description: "Singapore's top real estate platform",
    link: "https://www.tiktok.com/@thesghomez",
  },
  {
    image: "SGCupid.png",
    name: "SGCupid",
    description: "Singapore's leading dating community",
    link: "https://www.tiktok.com/@sgcupid",
  },
];
---

<section class="py-12">
  <div class="grid grid-cols-2 p-4 pr-12 items-center">
    <div class="grid grid-cols-3 gap-4">
      {
        accounts.map((account, index) => (
          <a href={account.link} target="_blank" rel="noopener noreferrer" class="flex flex-col items-center">
            <div class="w-32 h-32 rounded-full overflow-hidden bg-gray-100">
              <Image
                src={"/company/" + account.image}
                width={128}
                height={128}
                alt={account.name}
                class="object-cover w-full h-full transition duration-300 ease-in-out hover:scale-110 filter grayscale-[30%] opacity-90"
              />
            </div>
            <h3 class="text-white text-lg font-bold mt-2">{account.name}</h3>
            <p class="text-white text-sm text-center mt-1">
              {account.description}
            </p>
          </a>
        ))
      }
    </div>
    <div class="pl-4 text-right">
      <h1 class="text-white text-5xl italic max-w-xs purpleText pb-8 ml-auto">
        About Our Viral Accounts
      </h1>
      <p class="text-white max-w-sm ml-auto">
        As a Singapore grown company, we understand the Singapore social media
        landscape and our unique culture. Our experts can help you create a
        viral marketing campaign that will get your brand noticed by millions of
        people.
      </p>
      <p class="text-white mt-8 underline">
        <a href={linkText}>Learn more</a>
      </p>
    </div>
  </div>
</section>
