---
import { Image } from "astro:assets";

interface Props {
  linkText: string;
}
const { linkText } = Astro.props;

const accounts = [
  {
    image: "SGDaily.png",
    name: "SGDaily",
    description: "Daily updates on Singapore life",
    link: "https://www.instagram.com/thesgdaily/reels/",
  },
  {
    image: "SGHomez.png",
    name: "SGHomez",
    description: "Singapore homes and property market",
    link: "https://www.instagram.com/thesghomez/reels/",
  },
  {
    image: "hypehub.png",
    name: "Hype Hub",
    description: "Asian culture",
    link: "https://www.tiktok.com/@hypehub88",
  },
];

const link_to_enquire = "https://wa.me/6590906912?text=I'm%20interested%20in%20your%20social%20media%20service";
---

<section class="py-12 bg-gradient-to-br from-[#1a1a1a] to-[#2d1a4a]">
  <div class="grid grid-cols-2 p-4 pr-12 items-center">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
      {
        accounts.map((account, index) => (
          <a
            href={account.link}
            target="_blank"
            rel="noopener noreferrer"
            class="flex flex-col items-center"
          >
            <div class="w-32 h-32 rounded-full overflow-hidden bg-gray-100">
              <Image
                src={"/company/" + account.image}
                width={128}
                height={128}
                alt={account.name}
                class="object-cover w-full h-full transition duration-300 ease-in-out hover:scale-110 filter grayscale-[5%] opacity-80"
              />
            </div>
            <h3 class="text-white text-lg font-bold mt-2">{account.name}</h3>
            <p class="text-white text-sm text-center mt-1">
              {account.description}
            </p>
          </a>
        ))
      }
    </div>
    <div class="pl-4 text-right">
      <h1 class="text-white text-5xl italic max-w-xs purpleText pb-8 ml-auto">
        About Our Viral Accounts
      </h1>
      <p class="text-white max-w-sm ml-auto">
        As a home grown company, we understand the local social media landscape 
        and our unique audience. With years of experience, our experts have done 
        it again and again and we can grow your brands to become viral too.
      </p>
      <p class="text-white mt-8 underline">
        <a href={link_to_enquire}>Enquire now</a>
      </p>
    </div>
  </div>
</section>
