---
interface Props {
  callToAction: string;
  buttonText: string;
  companyName:string;
  //    logoImage:string;
}
const { callToAction, buttonText, companyName } = Astro.props;

const imageURL = "headerbg.png"
const bgStyle = {
  backgroundImage: `url('/images/${imageURL}')`,
};
const buttonHref = "https://wa.me/6586111941?text=I'm%20interested%20in%20your%20social%20media%20service"
---

<header class="bg-cover bg-no-repeat bg-gray-400 bg-blend-multiply" style={bgStyle}>
  <nav class="text-white uppercase pt-8 p-4 font-bold2">
    <ul>
      <li>{companyName}</li>
    </ul>
  </nav>
  <div class="px-4 mx-auto max-w-screen-xl text-center py-36 text-white">
  
      <h1 class="font-extrabold text-9xl tracking-wide mb-4 uppercase italic">{callToAction}</h1>
      <a href={buttonHref}>
        <button class="purpleBG p-2 uppercase text-black font-bold">{buttonText}</button>
      </a>
    </div>
</header>
