---
import { Image } from "astro:assets";

const food_images = import.meta.glob("/public/viral-posts/food/*.{png,jpg,jpeg,gif}");
const things_to_do_images = import.meta.glob("/public/viral-posts/things_to_do/*.{png,jpg,jpeg,gif}");
const property_images = import.meta.glob("/public/viral-posts/property/*.{png,jpg,jpeg,gif}");

// Horizontal images work differently, so we need to map them to the youtube links
const horizontal_image_map: {
  image: string; youtubeLink: string 
}[] = [
  {
    image: "/viral-posts/horizontal/59JCT.jpg",
    youtubeLink: "https://www.youtube.com/watch?v=-fMmrm7shjY"
  },
  {
    image: "/viral-posts/horizontal/bali.png",
    youtubeLink: "https://www.youtube.com/watch?v=FQXLzUmQsLM"
  },
  {
    image: "/viral-posts/horizontal/intan.png",
    youtubeLink: "https://www.youtube.com/watch?v=jtkM3z5l3xc"
  },
  {
    image: "/viral-posts/horizontal/shophouse160.jpg",
    youtubeLink: "https://www.youtube.com/watch?v=nbXoNcELyyI"
  }
];

// Function to process images for a given category
async function processImages(images: Record<string, () => Promise<unknown>>) {
  return Promise.all(
    Object.entries(images).map(async ([path]) => {
      const imagePath = path.replace("/public", "");
      const fileName = path.split("/").pop() || "";
      const alt = fileName.split(".").slice(0, -1).join(".");
      return { image: imagePath, alt };
    })
  );
}

// Create the posts list dynamically for each category
const posts_food = await processImages(food_images);
const posts_things_to_do = await processImages(things_to_do_images);
const posts_property = await processImages(property_images);

const link_to_enquire = "https://wa.me/6590906912?text=I'm%20interested%20in%20your%20social%20media%20service";
---

<section class="py-12">
  <!-- First section -->
  <div class="grid grid-cols-1 md:grid-cols-[1fr,2fr] p-4 gap-8 md:pr-12">
    <div class="pl-4">
      <h1 class="text-white text-4xl md:text-5xl italic max-w-xs purpleText pb-8">
        Our Viral Posts
      </h1>
      <p class="text-white max-w-sm">
        Our content is tailor-made for the Singapore market, delivering 
        high engagement with every post, helping your brand reach a vibrant and active Singapore local audience.
      </p>
      <p class="text-white mt-8 underline">
        <a href={link_to_enquire}>Enquire now</a>
      </p>
    </div>
    <div class="overflow-hidden h-[400px] flex items-center relative mt-8 md:mt-0">
      <div class="fade-left"></div>
      <div class="fade-right"></div>
      <div class="scroll-container">
        <div class="flex animate-scroll hover:pause">
          {
            [...posts_food, ...posts_food, ...posts_food].map((post) => (
              <div class="flex-shrink-0 w-48 mx-2">
                <Image
                  src={post.image}
                  width={300}
                  height={400}
                  alt={post.alt}
                  class="object-cover w-full h-full rounded-md"
                />
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </div>

  <!-- Second section -->
  <div class="grid grid-cols-1 md:grid-cols-[2fr,1fr] p-4 gap-8 md:pl-12 mt-12 md:mt-24">
    <div class="overflow-hidden h-[400px] flex items-center relative order-last md:order-first">
      <div class="fade-left"></div>
      <div class="fade-right"></div>
      <div class="scroll-container">
        <div class="flex animate-scroll hover:pause">
          {
            [...posts_things_to_do, ...posts_things_to_do, ...posts_things_to_do].map((post) => (
              <div class="flex-shrink-0 w-48 mx-2">
                <Image
                  src={post.image}
                  width={300}
                  height={400}
                  alt={post.alt}
                  class="object-cover w-full h-full rounded-md"
                />
              </div>
            ))
          }
        </div>
      </div>
    </div>
    <div class="pr-4 text-right">
      <h2 class="text-white text-3xl md:text-4xl italic purpleText pb-4 ml-auto">Diverse Content for Every Business</h2>
      <p class="text-white ml-auto mb-4">
        We have content for all types of businesses, from food to property, lifestyle to dating, and all things to do!
        Our versatile team creates engaging posts for:
      </p>
      <ul class="text-white list-none ml-auto space-y-2">
        <li>🍽️ Restaurants and food delivery services</li>
        <li>🏠 Home renovation and properties</li>
        <li>💑 Dating and relationship</li>
        <li>✈️ Things to do & Attractions</li>
      </ul>
      <p class="text-white mt-4">
        No matter your industry, we tailor our content to resonate with your target audience,
        boost engagement, and drive results for your business in the Singapore market.
      </p>
      <p class="text-white mt-8 underline">
        <a href={link_to_enquire}>Enquire now</a>
      </p>
    </div>
  </div>

  <!-- Third section (if needed) -->
  <div class="grid grid-cols-1 md:grid-cols-[1fr,2fr] p-4 gap-8 md:pr-12 mt-12 md:mt-24">
    <div class="pl-4">
      <h2 class="text-white text-3xl md:text-4xl italic purpleText pb-4">Horizontal and Vertical Videos for Property Content</h2>
      <p class="text-white mb-4">
        We offer a wide range of content formats to suit your marketing needs and target audience preferences:
      </p>
      <ul class="text-white list-none space-y-2">
        <li>📏 Long and short-form videos</li>
        <li>🌏 Content in both English and Chinese</li>
        <li>📱 Tailored for various platforms:</li>
      </ul>
      <div class="grid grid-cols-2 gap-2 mt-2">
        <span class="text-white">• YouTube</span>
        <span class="text-white">• TikTok</span>
        <span class="text-white">• Xiaohongshu (小红书)</span>
        <span class="text-white">• Instagram</span>
      </div>
      <p class="text-white mt-4">
        Our multi-platform approach ensures your brand reaches the widest possible audience across Singapore's diverse social media landscape.
      </p>

      <p class="text-white mt-8 underline">
        <a href={link_to_enquire}>Enquire now</a>
      </p>
    </div>
    <div class="overflow-hidden h-[400px] flex items-center relative mt-8 md:mt-0">
      <div class="fade-left"></div>
      <div class="fade-right"></div>
      <div class="scroll-container">
        <div class="flex animate-scroll hover:pause">
          {
            [...posts_property, ...posts_property, ...posts_property].map((post) => (
              <div class={`flex-shrink-0 mx-2 ${post.image.includes('horizontal') ? 'h-72' : 'w-48'}`}>
                <Image
                  src={post.image}
                  width={post.image.includes('horizontal') ? 640 : 300}
                  height={post.image.includes('horizontal') ? 360 : 400}
                  alt={post.alt}
                  class="object-cover w-full h-full rounded-md"
                />
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </div>

  <!-- Section for horizontal videos -->
  <div class="grid grid-cols-1 md:grid-cols-6 mt-1">
    <div></div>
    <div></div>
    {horizontal_image_map.slice(0, 4).map((post) => (
      <a href={horizontal_image_map.find(link => link.image === post.image)?.youtubeLink} target="_blank" rel="noopener noreferrer">
        <div class="flex justify-center items-center p-1">
          <Image
            src={post.image}
            width={240}
            height={135}
            alt="horizontal video"
            class="object-cover w-3/4 h-auto rounded-md transition-transform duration-300 hover:scale-150"
          />
        </div>
      </a>
    ))}
  </div>
</section>

<style>
  .scroll-container {
    overflow-x: hidden;
    width: 100%;
  }

  .animate-scroll {
    display: flex;
    animation: scroll 40s linear infinite;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 7));
    }
  }

  .hover\:pause:hover {
    animation-play-state: paused;
  }

  .fade-left,
  .fade-right {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50px;
    z-index: 1;
    pointer-events: none;
  }

  .fade-left {
    left: 0;
    background: linear-gradient(to right, #141414, rgba(20, 20, 20, 0));
  }

  .fade-right {
    right: 0;
    background: linear-gradient(to left, #141414, rgba(20, 20, 20, 0));
  }
</style>

<script>
  const scrollContainer = document.querySelector('.scroll-container');
  const scrollContent = scrollContainer.querySelector('.animate-scroll');

  if (scrollContainer && scrollContent) {
    let isManualScrolling = false;
    let autoScrollInterval;

    function startAutoScroll() {
      if (!isManualScrolling) {
        scrollContent.classList.add('animate-scroll');
      }
    }

    function stopAutoScroll() {
      scrollContent.classList.remove('animate-scroll');
    }

    scrollContainer.addEventListener('wheel', (evt) => {
      evt.preventDefault();
      stopAutoScroll();
      scrollContainer.scrollLeft += evt.deltaY;
      isManualScrolling = true;
      clearTimeout(autoScrollInterval);
      autoScrollInterval = setTimeout(() => {
        isManualScrolling = false;
        startAutoScroll();
      }, 2000);
    });

    let isDown = false;
    let startX;
    let scrollLeft;

    scrollContainer.addEventListener('mousedown', (e) => {
      isDown = true;
      startX = e.pageX - scrollContainer.offsetLeft;
      scrollLeft = scrollContainer.scrollLeft;
      stopAutoScroll();
    });

    scrollContainer.addEventListener('mouseleave', () => {
      isDown = false;
      startAutoScroll();
    });

    scrollContainer.addEventListener('mouseup', () => {
      isDown = false;
      isManualScrolling = true;
      clearTimeout(autoScrollInterval);
      autoScrollInterval = setTimeout(() => {
        isManualScrolling = false;
        startAutoScroll();
      }, 2000);
    });

    scrollContainer.addEventListener('mousemove', (e) => {
      if (!isDown) return;
      e.preventDefault();
      const x = e.pageX - scrollContainer.offsetLeft;
      const walk = (x - startX) * 2;
      scrollContainer.scrollLeft = scrollLeft - walk;
    });

    startAutoScroll();
  }
</script>
